<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Twitter Random Mimic </title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Menu
                    </a>
                </li>
                <li>
                    <a href="/">Twitter Mimic</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="mailto:yosola@gmail.com">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Twitter Mimic Robot</h1>
                        <ul class="list-group">
                        <p>Those are the rules of the Mimic Twitter.</p>
                        <p class="list-group-item">
                        1. You search for a specific user.</p>
                        <p class="list-group-item">2. The twitter mimic will found the last 200 tweets of that user and build a tweet with random words of them</p>
                        <p class="list-group-item">3. You laugh of the result
                        </p>
                        <p></p>

                <h3>Enter the @user</h3>
                <form method="POST" action="/">
                    <div class="row">
                        <div class="col-xs-8">
                            <input type="text" name="username" class="form-control" placeholder="Remember the @ character" value="{{username}}"></input>
                        </div>
                        <div class="col-xs-4"><button class="btn btn-primary btn-sm">MIMIC</button></div>
                    </div>
                </form>


                {% if error %}
                <div class="alert alert-danger">
                <strong>Error</strong> {{error}}  
                </div>
                {% endif %} 

                {% if tweet %}
                <h3>Mimic Tweet</h3> 
                <p>{{tweet}}</p>                 
                {% endif %}   

                        
                    </div>
                </div>
            </div>
        </div>


    </div>

    <footer>
        <div class="row">
            <div class="container-fluid">
                <div class="col-lg-12">
                    <p>Copyright &copy; @Tejiendo_MiVida</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>

 